.navbar-brand{
    align-self:left;
}
#header-nav{
    background-color: #fa919a;
    font-weight: bold;
    border: 0;
    border-radius: 0;
}
#nav-list{
    float:right;

}
section{
    height:700px;
    border: 2px solid black;
    background-color: gray;
    text-align: center;
    box-sizing: border-box;
    margin: 4.16%;
}
body{
    box-sizing: border-box;
    align-content: center;
}
h2,h3{
    text-align: center;
    text-emphasis: bold;
}
.navbar-right{
    position: absolute;
    right: 0;
    bottom: 2px;
}